<h1 style="text-align: center;"><b>List of Study material Subject Wise </b></h1>
<div class="bootstrap-wrapper" style="margin-bottom: -100px;">
    <div class="container-fluid">
        <div class="row mt20">
            <div class="col-md-4">
                <div class="card" style="width:300px; height: fit-content; display: inline-block;padding: 10px;margin:10px">
                    <img class="card-img-top" src="assets/images/events/2.jpg" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">Upsc Test</h4>
                      <p class="card-text">Subject English</p>
                      <p class="card-text">Published On :18 Aug 2021</p>
                      <a  (click)="getStudyMaterislpdf()" class="btn btn-primary">View and Download</a>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-md-5">Activation Image</label>
                  <div class="col-md-7">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="activationImage"
                        accept="application/pdf" (change)="handleStudyMaterialUpload($event)">
                      <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                  </div>
                </div>

                

 </div>
 </div>       
 <app-footer></app-footer>

