<div class="bootstrap-wrapper">
    <div class="container" style="margin-top:50px;">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <mat-card>
            <div class="container text-center">
              <img src="../../../assets/logo.png" alt="" />
            </div>
  
            <h1 class="text-center">Update password here !!</h1>
  
            <!-- {{ loginData | json }} -->
            <form (ngSubmit)="formSubmit()">
              <!-- username field -->
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>password</mat-label>
                <input
                  [(ngModel)]="loginData.password"
                  name="password"
                  type="password"
                  required
                  matInput
                  placeholder="Enter password here"
                />
              </mat-form-field>
  
              <!-- password field  -->
  
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>confirm Password </mat-label>
                <input
                  [(ngModel)]="loginData.confirmpassword"
                  name="confirmpassword"
                  type="password"
                  required
                  matInput
                  placeholder="Enter password again"
                />
              </mat-form-field>
  
              <div class="container text-center">
                <button mat-raised-button color="primary" type="submit">
                  Update
                </button>
                <button class="ml10" mat-raised-button color="accent">
                  Home
                </button>
              </div>
              <div class="card-footer"  style="margin-top: 15px;">
                <div class="d-flex justify-content-center links">
                  Don't have an account?<a [routerLink]="'/signup'">Sign Up</a>
                </div>
                
              </div>
            </form>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
      <app-footer></app-footer>
  
  